<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
  </head>
  <body>
    <div class="flex">
      <div class="login-img"></div>
      <div class="login-container">
        <div class="login-box">
          <h2>Login</h2>
          <form method="POST">
          {% csrf_token %}
            <div class="form-group">
              <label for="username">Username:</label>
              <input
                type="text"
                id="username"
                name="username"
                required
                placeholder="Enter your username"
              />
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input
                type="password"
                id="password"
                name="password"
                required
                placeholder="Enter your password"
              />
            </div>
            <button type="submit" class="submit-btn">Login</button>
          </form>
          <a href="{% url 'reg' %}" class="register-btn">Register</a>
        </div>
      </div>
    </div>
  </body>
</html>
